@{
	ViewData["Title"] = "Home Page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<div class="">
	<h1 class="Ntext">ソフトウェアエンジニア</h1>
</div>
<div class="d-flex justify-content-center" style="margin-top:15px;">
</div>
