@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="container my-5">

<div class="text-end gap-3 mb-3" id="toggleButtons">
    <a class="space-mono-regular green" asp-controller="Home" asp-action="Index">Login</a>
</div>

 <div class="d-flex justify-content-center mb-4 flex-wrap gap-3">
    <a class="space-mono-regular green frosted-box me-4" href="#">Projects</a>
    <a class="space-mono-regular green frosted-box me-4" href="#">Photography</a>
    <a class="space-mono-regular green frosted-box me-4" href="#">Videography</a>
    <a class="space-mono-regular green frosted-box me-4" href="#">Subscription</a>
</div>
<div class="dm-sans-bold">
    MUFADDAL
</div>
</section>